@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

@media (max-width: 640px) {
body::-webkit-scrollbar {
  display: none; 
  }
}

/* Circle Loader */

.circleLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 37px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.circleLoader:after {
  content: "";
  background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: absolute;
  margin: -6px;
  width: inherit;
  height: inherit;
  animation: circleLoader-spin 1.1s linear infinite,1!important;
  -webkit-animation: circleLoader-spin 1.1s linear infinite,1!important; 
}