@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

@media (max-width: 640px) {
body::-webkit-scrollbar {
  display: none; 
  }
}

